/* TODO:; MEDIA QUERY FOR 467 PX BREAK */

p, h2, h3, li {
	color: #667;
}

a, a:hover, a:visited { text-decoration: none; }

.left {
	float: left;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.header {
	letter-spacing: 4px;
	color: #b6bbbf;
	margin-bottom: 24px;
}

footer {
	margin-bottom: 5px;
}

.title {
	font-size: 18px;
}

.navbar {
	margin-bottom: 24px;
}

.navTitle {
	font: 100 1.75em "Helvetica Neue","Open Sans",sans-serif;
	text-transform: uppercase;
	color: #9d9d9d;
	margin: 16px; 
}

.summary {
	font: 200 1.45em "Helvetica Neue","Open Sans",sans-serif;
	text-transform: uppercase;
	text-align: justify;
}

.profilePic {
	border-radius: 4px;
}

.navName, .glyphicon {
	color: #6eb8f1;
	fill: #6eb8f1;
}

.vCard {
	padding: 0px;
	list-style: none;
	
}
.vCard .glyphicon {
	margin-right: 4px;
}

.lineBreak {
	border-top: 1px #e5e5e5 solid;
	margin-top: 14px;
	margin-bottom: 14px;
}

.projects {
	margin-bottom: 34px;
}

.caption {
	min-height: 174px;
}

.projects .thumbnail {
	box-shadow: none;
	border: none;
}

.project-link p {
	transition: background-color 1s;
	transition: color 1s;
	margin: 0 auto;
	border: 1px solid #000;
	box-shadow: 0px 1px 4px 0px;
	width: 190px;
	border-radius: 4px;
	padding: 8px;
}

.project-link p:hover {
	background-color: #3a3a3a;
	color: #fff;
}

@media only screen and (max-width: 467px) { 

	.vCard li {
		display: inline-block;
	}

	.glyphicon {
		margin-left: 4px;
	}

	.navName {
		display: block;
	}

	.navPipe {
		display: none;
	}
}

@media only screen and (max-width: 767px) { 
	.vCard li {
		display: inline-block;
	}

	ul.vCard {
		text-align: center;
		margin: 16px 0px;
	}
}